<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../css/style.css"/>

  <title>Youtube Edit</title>

</head>

<body>

<!-- Header -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="row container-fluid">

    <div class="col-xs-12">

      <div class="navbar-text pull-left my-header-left-margin">
        <a href="widget-chooser.html">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-text pull-right my-header-right-margin">
        <a href="widget-chooser.html">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>

      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          Widget Edit
        </a>
      </div>

    </div>

  </div>
</nav>

<!-- Widget edit Form -->
<div class="container-fluid">
  <div class="col-xs-12 custom-padding-top-10">

    <form>

      <div class="form-group">
        <label for="youtube-name">Name</label>
        <input type="text" id="youtube-name" class="form-control"/>
      </div>

      <div class="form-group">
        <label for="youtube-text">Text</label>
        <input type="text" id="youtube-text" class="form-control"/>
      </div>

      <div class="form-group">
        <label for="youtube-url">URL</label>
        <input type="text" id="youtube-url" class="form-control"
               placeholder="https://youtube.com"/>
      </div>

      <div class="form-group">
        <label for="youtube-width">Width</label>
        <input type="text" id="youtube-width" class="form-control"/>
      </div>

      <div class="form-group">
        <a href="widget-chooser.html" class="btn btn-block btn-danger">
          Delete
        </a>
      </div>

    </form>

  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-footer navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>

</body>
</html>
