<div *ngIf="stats">
  <!--Match stats-->
  <table class="table table-responsive table-striped">
    <tbody>
      <tr>
        <td class="col-xs-3 text-left">{{localTeamStats.shots_total}}</td>
        <td class="col-xs-6 text-center">Total Shots</td>
        <td class="col-xs-3 text-right">{{awayTeamStats.shots_total}}</td>
      </tr>

      <tr>
        <td class="col-xs-3 text-left">{{localTeamStats.shots_ongoal}}</td>
        <td class="col-xs-6 text-center">Shots On Goal</td>
        <td class="col-xs-3 text-right">{{awayTeamStats.shots_ongoal}}</td>
      </tr>

      <tr>
        <td class="col-xs-3 text-left">{{localTeamStats.fouls}}</td>
        <td class="col-xs-6 text-center">Fouls</td>
        <td class="col-xs-3 text-right">{{awayTeamStats.fouls}}</td>
      </tr>

      <tr>
        <td class="col-xs-3 text-left">{{localTeamStats.corners}}</td>
        <td class="col-xs-6 text-center">Corners</td>
        <td class="col-xs-3 text-right">{{awayTeamStats.corners}}</td>
      </tr>

      <tr>
        <td class="col-xs-3 text-left">{{localTeamStats.offsides}}</td>
        <td class="col-xs-6 text-center">Offsides</td>
        <td class="col-xs-3 text-right">{{awayTeamStats.offsides}}</td>
      </tr>

      <tr>
        <td class="col-xs-3 text-left">{{localTeamStats.possesiontime}}</td>
        <td class="col-xs-6 text-center">Possession</td>
        <td class="col-xs-3 text-right">{{awayTeamStats.possesiontime}}</td>
      </tr>

      <tr>
        <td class="col-xs-3 text-left">{{localTeamStats.yellowcards}}</td>
        <td class="col-xs-6 text-center">Yellow Cards</td>
        <td class="col-xs-3 text-right">{{awayTeamStats.yellowcards}}</td>
      </tr>

      <tr>
        <td class="col-xs-3 text-left">{{localTeamStats.redcards}}</td>
        <td class="col-xs-6 text-center">Red Cards</td>
        <td class="col-xs-3 text-right">{{awayTeamStats.redcards}}</td>
      </tr>

      <tr>
        <td class="col-xs-3 text-left">{{localTeamStats.saves}}</td>
        <td class="col-xs-6 text-center">Saves</td>
        <td class="col-xs-3 text-right">{{awayTeamStats.saves}}</td>
      </tr>

    </tbody>
  </table>
</div>
