<div *ngIf="comments">
  <div *ngFor="let event of comments">

    <ul>
      <li>
          <!--unimportant event-->
          <div *ngIf="event.important == '0'">
            {{event.minute}} {{event.comment}}
          </div>

          <!--important event but not goal-->
          <div *ngIf="event.important == '1' && event.isgoal == '0'">
            {{event.minute}}
            <span class="glyphicon glyphicon-alert"></span>
            {{event.comment}}
          </div>

          <!--goal!!-->
          <div *ngIf="event.isgoal == '1'">
            {{event.minute}}
            <span class="glyphicon glyphicon-cd"></span>
            {{event.comment}}
          </div>

      </li>
    </ul>
  </div>
</div>
