<div class="nav navbar-nav sider-navbar">

  <div class="text-center">
      <figure class="profile-userpic">
        <img src="" class="img-responsive" alt="Profile Picture">
      </figure>

      <div class="profile-usertitle">
        <div class="profile-usertitle-name">Sushil Thasale</div>
        <div class="profile-usertitle-title">Description</div>
      </div>
  </div>

  <ul class="">
    <li class="active">
      <a href="#">
        <span class="fa fa-fw fa-dashboard"></span>
        Leagues
      </a>
    </li>

    <li class="active">
      <a href="#">
        <span class="fa fa-fw fa-dashboard"></span>
        Teams
      </a>
    </li>

    <li class="active">
      <a href="#">
        <span class="fa fa-fw fa-dashboard"></span>
        Players
      </a>
    </li>

    <li class="active">
      <a href="#">
        <span class="fa fa-fw fa-dashboard"></span>
        Following
      </a>
    </li>

    <li class="active">
      <a href="#">
        <span class="fa fa-fw fa-dashboard"></span>
        Followers
      </a>
    </li>
  </ul>

</div>
