<div class="nav navbar-nav sider-navbar">

  <div class="text-center">
      <figure class="profile-userpic">
        <img src="" class="img-responsive" alt="Profile Picture">
      </figure>

      <div class="profile-usertitle">
        <div class="profile-usertitle-name">Sushil Thasale</div>
        <div class="profile-usertitle-title">Description</div>
      </div>
  </div>

  <div class="vertical-menu">
    <a href="#" class="active">Leagues</a>
    <a href="#">Teams</a>
    <a href="#">Players</a>
    <a href="#">Following</a>
    <a href="#">Followers</a>
  </div>

</div>
