<!--search body-->
<nav class="navbar navbar-default">
  <div class="nav nav-justified navbar-nav">

    <form class="navbar-form navbar-search text-center" role="search">

      <div class="input-group">
        <input type="text"
               class="form-control"
               id="searchTerm"
               name="searchTerm"
               required
               placeholder="Search Friends ..."
               [(ngModel)] = "searchTerm"/>

        <div class="input-group-btn">
          <button type="button"
                  (click)="searchItems()"
                  class="btn btn-search btn-success">
            Search
          </button>
        </div>

      </div>
    </form>
  </div>
</nav>

<table class="table table-responsive table-striped">
  <tbody>
    <tr *ngFor="let item of items"
        class="tr-match-score text-center"
        (click)="navigateToFriendProfile(item._id)">
        <h4><strong>{{item.lastName}}, {{item.firstName}} ({{item.username}})</strong></h4>
    </tr>
  </tbody>
</table>

