<div *ngIf="player">
  <div class="col-lg-12">
    <table class="table" id="table">
      <tbody>
      <tr><td>Common Name</td><td>{{player.common_name}}</td></tr>
      <tr><td>First Name</td><td>{{player.firstname}}</td></tr>
      <tr><td>Last Name</td><td>{{player.lastname}}</td></tr>
      <tr><td>Current Team</td><td>{{player.team}}</td></tr>
      <tr><td>Nationality</td><td>{{player.nationality}}</td></tr>
      <tr><td>Birth Date</td><td>{{player.birthdate}}</td></tr>
      <tr><td>Age</td><td>{{player.age}}</td></tr>
      <tr><td>Birth Country</td><td>{{player.birthcountry}}</td></tr>
      <tr><td>Birth Place</td><td>{{player.birthplace}}</td></tr>
      <tr><td>Position</td><td>{{player.position}}</td></tr>
      <tr><td>Height</td><td>{{player.height}}</td></tr>
      <tr><td>Weight</td><td>{{player.weight}}</td></tr>
      </tbody>
    </table>
  </div>
</div>
