<table class="table table-responsive table-striped">
  <tbody>
    <tr *ngFor="let match of matches"
        class="tr-match-score"
        (click)="navigateToMatchDetails(match.id)">
        <td class="col-xs-4 text-right">{{match.localteam_name}}</td>
        <td class="col-xs-4 text-center"
            *ngIf="match.localteam_score == '?' || match.localteam_score == ''">
          -</td>
        <td class="col-xs-4 text-center"
            *ngIf="match.localteam_score != '?' && match.localteam_score != ''">
          ({{match.localteam_score}}) - ({{match.visitorteam_score}})</td>
        <td class="col-xs-4 text-left">{{match.visitorteam_name}}</td>
    </tr>
  </tbody>
</table>
