<div class="col-xs-12 col-sm-4">
  <div class="collapse navbar-collapse" id="profile-sidebar">

      <div class="nav navbar-nav sider-navbar">

        <div class="text-center">
          <figure class="profile-userpic">
            <img src="" class="img-responsive" alt="Profile Picture">
          </figure>

          <div class="profile-usertitle">
            <div class="profile-usertitle-name">You are not logged in!</div>
            <div class="profile-usertitle-title">Please Login to access awesome features!</div>
          </div>
        </div>

        <div class="vertical-menu">
          <button class="btn btn-primary btn-block"
                  (click)="navigateToLogin()">Login</button>
          <button class="btn btn-primary btn-block "
                  (click)="navigateToRegister()" >Register</button>
        </div>

      </div>

  </div>
</div>
