 <!--Header-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="row container-fluid">
    <div class="col-xs-12">

      <div class="navbar-text pull-left my-header-left-margin">
        <a (click)="navigateToProfile()">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>



      <div class="navbar-text pull-right my-header-right-margin">
        <a (click)="navigateToHome()" >
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>

      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="[]">
          My Favorites
        </a>
      </div>

    </div>
  </div>
</nav>

<!-- favorites List -->
<div class="container-fluid">
  <div class="col-xs-12">

    <!--user leagues -->
    <div>
      <span>
        <h2><span class="label label-default">Favorite Leagues:</span>
          <a (click)="addFavorites()" class="pull-right">
            <span class="glyphicon glyphicon-plus btn btn-success"></span>
          </a>
        </h2>
      </span>

      <div *ngIf="leagues">
        <div id="league">
          <ul class="list-group">

            <li class="list-group-item"
                *ngFor="let league of leagues">
              <a class="no-underline-hover">{{league.name}}</a>
              <a (click)="unfollowLeague(league.apiId)" class="pull-right">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>

    <!--user teams -->
    <div>
      <span>
        <h2><span class="label label-default">Favorite Teams:</span>        </h2>
      </span>

      <div *ngIf="teams">
        <div id="teams">
          <ul class="list-group">

            <li class="list-group-item"
                *ngFor="let team of teams">
              <a class="no-underline-hover">{{team.name}}</a>
              <a (click)="unfollowTeam(team.apiId)" class="pull-right">
                <span class="glyphicon glyphicon-remove my-right-margin"></span>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>

    <!--user players -->
    <div>
      <span>
        <h2><span class="label label-default">Favorite Players:</span></h2>
      </span>

      <div *ngIf="players">
        <div id="players">
          <ul class="list-group">

            <li class="list-group-item"
                *ngFor="let player of players">
              <a class="no-underline-hover">{{player.name}}</a>
              <a (click)="unfollowPlayer(player.apiId)" class="pull-right">
                <span class="glyphicon glyphicon-remove my-right-margin"></span>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

 <!-- Footer -->
 <app-home-footer></app-home-footer>
