<!-- Date Scroll -->
<nav class="navbar navbar-inverse">

  <!--previous date-->
  <div class="pull-left my-header-left-margin">
    <a class="navbar-brand" (click)="decrementDate()">
      <span class="glyphicon glyphicon-hand-left"></span>
    </a>
  </div>

  <!--next date-->
  <div class="pull-right my-header-right-margin">
    <a class="navbar-brand" (click)="incrementDate()">
      <span class="glyphicon glyphicon-hand-right"></span>
    </a>
  </div>

  <!--matches-->
  <div class="text-center">
    <a class="navbar-brand">
      {{formattedDate}}
    </a>
  </div>

</nav>

<app-match-list searchType="BY_DAY" currDate="{{formattedDate}}"></app-match-list>
