<!-- Date Scroll -->
<nav class="navbar navbar-inverse">

  <div class="row container-fluid">
    <!--previous date-->
    <div class="col-xs-4">
      <a class="navbar-brand pull-left" (click)="decrementDate()">
        <span class="glyphicon glyphicon-hand-left pull-left"></span>
      </a>
    </div>

    <!--matches-->
    <div class="col-xs-4">
      <a class="navbar-brand text-center">
        {{formattedDate}}
      </a>
    </div>

    <!--next date-->
    <div class="col-xs-4">
      <a class="navbar-brand pull-right" (click)="incrementDate()">
        <span class="glyphicon glyphicon-hand-right pull-right"></span>
      </a>
    </div>
  </div>

</nav>

<app-match-list searchType="BY_DAY" currDate="{{formattedDate}}"></app-match-list>
