<div *ngIf="nationalSeasons">
  <table class="points_table">

    <thead>
    <tr>
      <th class="col-xs-2">Season</th>
      <th class="col-xs-3">League</th>
      <th class="col-xs-2">Team</th>
      <th class="col-xs-1">App</th>
      <th class="col-xs-1">Min</th>
      <th class="col-xs-1">G</th>
      <th class="col-xs-1">Y</th>
      <th class="col-xs-1">R</th>
    </tr>
    </thead>

    <tbody class="points_table_scrollbar">
    <div *ngFor="let season of nationalSeasons">
      <tr class="even">
        <td class="col-xs-2 text-center">{{season.season}}</td>
        <td class="col-xs-3 text-center">{{season.league}}</td>
        <td class="col-xs-2 text-center">{{season.name}}</td>
        <td class="col-xs-1 text-center">{{season.appearances}}</td>
        <td class="col-xs-1 text-center">{{season.minutes}}</td>
        <td class="col-xs-1 text-center">{{season.goals}}</td>
        <td class="col-xs-1 text-center">{{season.yellowcards}}</td>
        <td class="col-xs-1 text-center">{{season.redcards}}</td>
      </tr>
    </div>
    </tbody>

  </table>

</div>
