<div *ngIf="match && match.events && match.events.length>0">
  <app-match-events matchID="{{matchID}}"></app-match-events>
</div>

<div *ngIf="match && competition">
    <table class="table table-responsive table-striped" id="table">
      <tbody>
        <tr><td>Competition</td><td>{{competition.name}}</td></tr>
        <tr><td>Season</td><td>{{match.season}}</td></tr>
        <tr><td>Week</td><td>{{match.week}}</td></tr>
        <tr><td>Stadium</td><td>{{match.venue}}</td></tr>
        <tr><td>Venue City</td><td>{{match.venue_city}}</td></tr>
        <tr><td>Date</td><td>{{match.formatted_date}}</td></tr>
        <tr><td>Time</td><td>{{match.time}}</td></tr>
      </tbody>
    </table>
</div>
