<!-- Header -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="row container-fluid">
    <div class="col-xs-12">

      <div class="navbar-text pull-left my-header-left-margin">
        <a (click)="navigateToProfile()">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-text pull-right my-header-right-margin">
        <a (click)="navigateToWebsiteNew()" >
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>

      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="[]">
          Websites
        </a>
      </div>

    </div>
  </div>
</nav>

<!-- Website List -->
<div class="row container-fluid">
  <div class="col-xs-12 my-left-pane">
    <ul class="list-group">

      <li class="list-group-item my-no-border"
          *ngFor="let website of websites">
        <a (click)="navigateToPages(website)" class="no-underline-hover">{{website.name}}</a>
        <a (click)="navigateToWebsiteEdit(website)" class="pull-right">
          <span class="glyphicon glyphicon-cog my-right-margin"></span>
        </a>
      </li>

    </ul>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-footer navbar-text pull-right">
      <a (click) = "navigateToProfile()">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>
