<!--Header-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="row container-fluid">
    <div class="col-xs-12">

      <div class="navbar-text pull-left my-header-left-margin">
        <a (click)="navigateToManageFovorites()">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-text pull-right my-header-right-margin">
        <a (click)="updateFavorites()" >
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>

      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="[]">
          Search Favorites
        </a>
      </div>

    </div>
  </div>
</nav>

<!--search body-->
<div class="container">
  <div class="row">
    <nav class="navbar navbar-default">

      <!--search form-->
        <form class="form-inline text-center custom-padding-top-10">
          <div class="form-group">
            <select class="form-control" name="selectType"
                    [(ngModel)]="selectedValue">
              <option value="LEAGUES"><strong>Leagues</strong></option>
              <option value="TEAMS"><strong>Teams</strong></option>
              <option value="PLAYERS"><strong>Players</strong></option>
            </select>
          </div>

          <div class="form-group">
            <input type="text"
                   class="form-control"
                   id="searchTerm"
                   name="searchTerm"
                   required
                   placeholder="Search..."
                   [(ngModel)] = "searchTerm"/>
          </div>

          <div class="form-group">
            <button class="btn btn-success btn-block"
                    (click)="searchItems()">
              Search
            </button>
          </div>
        </form>

        <!--search result-->
        <ul class="list-group"
            *ngFor="let option of options"
            style="list-style: none">
            <li class="list-group-item">
              <label>
                <input type="checkbox"
                       name="options"
                       value="{{option.value}}"
                       [(ngModel)]="option.checked"/>
                {{option.name}}
              </label>
            </li>
        </ul>
    </nav>
  </div>
</div>

<!-- Footer -->
<app-home-footer></app-home-footer>
