<!--Header-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="row container-fluid">
    <div class="col-xs-12">

      <div class="navbar-text pull-left my-header-left-margin">
        <a (click)="navigateToManageFovorites()">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-text pull-right my-header-right-margin">
        <a (click)="updateFavorites()" >
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>

      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="[]">
          Search Favorites
        </a>
      </div>

    </div>
  </div>
</nav>

<!--search body-->
<div class="container">
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="nav nav-justified navbar-nav">

        <form class="navbar-form navbar-search text-center" role="search">

          <div class="input-group">
            <select class="form-control" name="selectType"
                    [(ngModel)]="selectedValue">
              <option value="LEAGUES">Leagues</option>
              <option value="TEAMS">Teams</option>
              <option value="PLAYERS">Players</option>
            </select>
          </div>

          <div class="input-group">
            <input type="text"
                   class="form-control"
                   id="searchTerm"
                   name="searchTerm"
                   required
                   placeholder="Search..."
                   [(ngModel)] = "searchTerm"/>

            <div class="input-group-btn">
              <button type="button"
                      (click)="searchItems()"
                      class="btn btn-search btn-primary">Search
              </button>
            </div>

          </div>
        </form>

        <ul class="list-group" style="list-style: none">

          <div class="list-group-item"
              *ngFor="let option of options">
            <li>
              <label>
                <input type="checkbox"
                       name="options"
                       value="{{option.value}}"
                       [(ngModel)]="option.checked"/>
                {{option.name}}
              </label>
            </li>
          </div>

        </ul>

      </div>
    </nav>
  </div>
</div>

<!--Footer-->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-footer navbar-text pull-right">
      <a (click) = "navigateToProfile()">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>
