<!--app header-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <!--profile drop-down button-->
    <div class="col-xs-2 hidden-sm hidden-md hidden-lg">
      <button type="button" class="navbar-toggle pull-left"
              data-toggle="collapse" data-target="#profile-sidebar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!--header type-->
    <app-home-header></app-home-header>

  </div>
</nav>

<!--main body-->
<div class="container-fluid">

  <!-- Left Pane - User details -->
  <div class="col-xs-12 col-sm-4">
    <div class="collapse navbar-collapse" id="profile-sidebar">
      <app-home-user-profile></app-home-user-profile>
    </div>
  </div>

  <!-- Right Pane - Match Details -->
  <div class="col-sm-8 col-xs-12 my-right-pane">

    <!--match score-->
    <div *ngIf="match" class="text-center">
      <table class="table table-responsive">
        <tbody>
          <h2><span class="label label-default">
            <!--home team-->
            <td class="col-xs-3 text-right">
              {{match.localteam_name}}
            </td>

            <!--score-->
            <td class="col-xs-2 text-center"
                *ngIf="match.localteam_score == '?' || match.localteam_score == ''">
              -
            </td>

            <!--score-->
            <td class="col-xs-2 text-center"
                *ngIf="match.localteam_score != '?' && match.localteam_score != ''">
                ({{match.localteam_score}})  -  ({{match.visitorteam_score}})
            </td>

            <!--away team-->
            <td class="col-xs-3 text-left">
              {{match.visitorteam_name}}
            </td>
          </span></h2>

          <!--match status-->
          <td class="col-xs-2 text-left">
            <h3>
              <span class="badge badge-success pull-right"><h4>{{match.status}}</h4></span>
            </h3>
          </td>

          <!--match time-->
          <td class="col-xs-2 text-left" *ngIf="match.timer != ''">
            <h3>
              <span class="badge badge-success pull-right"><h4>{{match.timer}}</h4></span>
            </h3>
          </td>
        </tbody>
      </table>
    </div>

    <!--match details menu scrollbar-->
    <div class="scrollmenu">
      <a (click)="changeMatchDetailsType('FACTS')">Match Facts</a>
      <a (click)="changeMatchDetailsType('LINEUP')">Line Up</a>
      <a (click)="changeMatchDetailsType('COMMENTARY')">Commentary</a>
      <a (click)="changeMatchDetailsType('MATCH_STATS')">Match Stats</a>
      <a (click)="changeMatchDetailsType('PLAYER_STATS')">Player Stats</a>
      <a (click)="changeMatchDetailsType('STANDINGS')">Standings</a>
    </div>

    <!--match details component-->
    <div [ngSwitch]="matchDetailsType">

      <div *ngSwitchCase="'FACTS'">
        <app-match-facts matchID="{{matchID}}"></app-match-facts>
      </div>

      <div *ngSwitchCase="'LINEUP'">
        <app-match-lineup matchID="{{matchID}}"></app-match-lineup>
      </div>

      <div *ngSwitchCase="'COMMENTARY'">
        <app-match-commentary matchID="{{matchID}}"></app-match-commentary>
      </div>

      <div *ngSwitchCase="'MATCH_STATS'">
        <app-match-stats matchID="{{matchID}}"></app-match-stats>
      </div>

      <div *ngSwitchCase="'PLAYER_STATS'">
        <app-match-player-stats matchID="{{matchID}}"></app-match-player-stats>
      </div>

      <div *ngSwitchCase="'STANDINGS'">
        <app-match-team-standings compId="{{match.comp_id}}"></app-match-team-standings>
      </div>

    </div>

  </div>

</div>

<!--app footer-->
<app-home-footer></app-home-footer>
