<!-- Header -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="row container-fluid">

    <!-- Header - Left Pane -->
    <div class="col-sm-4 hidden-xs">

      <div class="navbar-text pull-left my-header-left-margin">
        <a (click)="navigateToWebsiteList()">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-text pull-right my-header-right-margin">
        <a (click)="navigateToPageNew()">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>

      <div class="navbar-header">
        <a class="navbar-brand">
          Pages
        </a>
      </div>

    </div>

    <!-- Header - Right Pane -->
    <div class="col-sm-8 col-xs-12">

      <div class="navbar-text pull-left my-header-left-margin">
        <a (click)="navigateToPageList()">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-text pull-right my-header-right-margin">
        <a (click)="createPage()">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>

      <div class="navbar-header">
        <a class="navbar-brand">
          New Page
        </a>
      </div>

    </div>


  </div>
</nav>

<div class="row container-fluid">
  <!-- Left Pane - Website List -->
  <div class="col-sm-4 hidden-xs my-left-pane my-right-border">
    <ul class="list-group">

      <li class="list-group-item my-no-border"
          *ngFor="let page of pages">
        <a (click)="navigateToWidgetList(page)" class="no-underline-hover">{{page.name}}</a>
        <a (click)="navigateToPageEdit(page)" class="pull-right">
          <span class="glyphicon glyphicon-cog my-right-margin"></span>
        </a>
      </li>

    </ul>
  </div>

  <!-- Right pane - new page edit -->
  <div class="col-sm-8 col-xs-12 my-right-pane">

    <div *ngIf="errorFlag"
         class="alert alert-danger">
      {{errorMsg}}
    </div>

    <form>

      <div class="form-group">
        <label for="pageName">Name</label>
        <input type="text"
               id="pageName"
               name="pageName"
               class="form-control"
               placeholder="Name"
               required
               [(ngModel)] = "pageName"
               ngModel
               #o_pageName = "ngModel"/>
      </div>

      <div class="form-group">
        <label for="pageDescription">Description</label>
        <input type="text"
               id="pageDescription"
               name="pageDescription"
               class="form-control"
               placeholder="pageDescription"
               required
               [(ngModel)] = "pageDescription"
               ngModel
               #o_pageDescription= "ngModel"/>
      </div>

    </form>
  </div>

</div>

<!-- Footer -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-footer navbar-text pull-right">
      <a (click)="navigateToProfile()">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>
