<div *ngIf="matchEvents">

  <table class="table table-responsive">
    <tbody *ngFor="let event of matchEvents">
      <tr *ngIf="event.team=='localteam'">
        <td class="col-xs-6 text-left">
          <!--local team-->
          <div [ngSwitch]="event.type">
            <!--substitutions-->
            <div *ngSwitchCase="'subst'">
              <span class="badge badge-pill">{{event.minute}}'</span>
              <span class="glyphicon glyphicon-arrow-up"></span>
              {{event.player}}
              <span class="glyphicon glyphicon-arrow-down"></span>
              {{event.assist}}
            </div>

            <!--yellow card-->
            <div *ngSwitchCase="'yellowcard'">
              <span class="badge badge-pill">{{event.minute}}'</span>
              <span class="glyphicon glyphicon-tag"></span>
              {{event.player}}
            </div>

            <!--red card-->
            <div *ngSwitchCase="'redcard'">
              <span class="badge badge-pill">{{event.minute}}'</span>
              <span class="glyphicon glyphicon-tags"></span>
              {{event.player}}
            </div>

            <!--goal-->
            <div *ngSwitchCase="'goal'">
              <span class="badge badge-pill">{{event.minute}}'</span>
              <span class="fa fa-futbol-o"></span>
              {{event.player}}
            </div>
          </div>
        </td>
        <td class="col-xs-6"></td>
      </tr>

      <tr *ngIf="event.team=='visitorteam'">
        <!--away team-->
        <td class="col-xs-6"></td>
        <td class="col-xs-6 text-right">
          <div [ngSwitch]="event.type">

            <!--substitutions-->
            <div *ngSwitchCase="'subst'">
              <span class="glyphicon glyphicon-arrow-up"></span>
              {{event.player}}
              <span class="glyphicon glyphicon-arrow-down"></span>
              {{event.assist}}
              <span class="badge badge-pill">{{event.minute}}'</span>
            </div>

            <!--yellow card-->
            <div *ngSwitchCase="'yellowcard'">
              {{event.player}}
              <span class="glyphicon glyphicon-tag"></span>
              <span class="badge badge-pill">{{event.minute}}'</span>
            </div>

            <!--red card-->
            <div *ngSwitchCase="'redcard'">
              {{event.player}}
              <span class="glyphicon glyphicon-tags"></span>
              <span class="badge badge-pill">{{event.minute}}'</span>
            </div>

            <!--goal-->
            <div *ngSwitchCase="'goal'">
              {{event.player}}
              <span class="fa fa-futbol-o"></span>
              <span class="badge badge-pill">{{event.minute}}'</span>
            </div>

          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <hr style="border: 4px solid black !important;"/>
</div>
