body{
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 100%;
}

.custom-padding-top-10{
  padding-top: 10px;
}

.my-header-left-margin{
  margin-left: 3px;
}

.my-header-right-margin{
  margin-right: 3px;
}

.navbar-inverse{
  background-color: #000000;
  opacity: 0.8;
}

.navbar-default .navbar-brand{
  color: white !important;
}

.navbar-inverse .navbar-brand{
  color: white !important;
}

.navbar a{
  color: #acacac;
}

.navbar a:hover{
  color:white;
  text-decoration: none;
}

a.no-underline-hover{
  text-decoration: none;
}

li.my-no-border{
  border-style: none;
}

.glyphicon{
  margin-right:5px;
}

.my-right-border{
  border-right-style: solid;
  border-bottom-color: #acacac;
  border-right-width: 1.5px;
}

.my-left-pane {
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 3px;
  overflow: auto;
}

.my-right-pane {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 17px;
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: auto;
}

.input-margin-top{
  margin-top: 5px;
}

.my-widget-settings-bar{
  position: absolute;
  right: 0px;
  padding: 5px;
  background-color: white;
  border-bottom-left-radius: 5px;
  opacity: 0.6;
  margin-right: 5px;
  z-index: 1;
}

img{
  margin-bottom: 10px;
}

iframe{
  margin-bottom: 10px;
}

.youtube-widget {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-bottom: 10px;
}

.youtube-widget iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
