<!--app header-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <!--profile drop-down button-->
    <div class="col-xs-2 hidden-sm hidden-md hidden-lg">
      <button type="button" class="navbar-toggle pull-left"
              data-toggle="collapse" data-target="#profile-sidebar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!--header type-->
    <app-home-header></app-home-header>

  </div>
</nav>

<!--main body-->
<div class="container-fluid">

  <!-- Left Pane - User details -->
  <div class="col-xs-12 col-sm-4">
    <div class="collapse navbar-collapse" id="profile-sidebar">
      <app-home-user-profile></app-home-user-profile>
    </div>
  </div>

  <!-- Right Pane - League Details -->
  <div class="col-sm-8 col-xs-12 my-right-pane">

    <div *ngIf="league">
      <!--league name-->
      <div class="text-center">
        <h2><span class="label label-default">
          {{league.name}}
        </span></h2>
      </div>

      <!--league details menu scrollbar-->
      <div class="scrollmenu">
        <a (click)="changeLeagueDetailsType('STANDINGS')">Table</a>
        <a (click)="changeLeagueDetailsType('PREVIOUS')">Previous Fixtures</a>
        <a (click)="changeLeagueDetailsType('UPCOMING')">Upcoming Fixtures</a>
        <a (click)="changeLeagueDetailsType('NEWS')">News</a>
        <a (click)="changeLeagueDetailsType('STATS')">Stats</a>
      </div>

      <!--match details component-->
      <div [ngSwitch]="leagueDetailsType">
        <div *ngSwitchCase="'STANDINGS'">
          <app-match-team-standings compId="{{league.id}}"></app-match-team-standings>
        </div>

        <div *ngSwitchCase="'PREVIOUS'">
          <app-match-list searchType="PREVIOUS_COMP" compId={{league.id}} toDate="{{formattedDate}}"></app-match-list>
        </div>

        <div *ngSwitchCase="'UPCOMING'">
          <app-match-list searchType="UPCOMING_COMP" compId={{league.id}} fromDate="{{formattedDate}}"></app-match-list>
        </div>

        <div *ngSwitchCase="'NEWS'">
          <div *ngIf="!isSelected">
          <app-review-list (reviewSelection)="updateReviewSelection($event.isSelected, $event.reviewId)"
                           itemType="league"
                           itemID="{{league.id}}"></app-review-list>
          </div>

          <div *ngIf="isSelected">
            <app-review-display reviewId="{{reviewId}}"></app-review-display>
          </div>
        </div>

        <div *ngSwitchCase="'STATS'">
          <app-league-stats></app-league-stats>
        </div>
      </div>

    </div>
  </div>
</div>

<!--app footer-->
<app-home-footer></app-home-footer>
