<!-- Header -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="row container-fluid">

      <!--profile drop-down button-->
      <div class="col-xs-2 hidden-sm hidden-md hidden-lg">
        <button type="button" class="navbar-toggle pull-left"
                data-toggle="collapse" data-target="#profile-sidebar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <app-herder-new></app-herder-new>

    </div>
</nav>

<!--main body-->
<div class="row container-fluid">
  <!--<div class="row">-->

    <app-unregistered-home-user-profile></app-unregistered-home-user-profile>

    <div class="col-xs-12 col-sm-8">
      <app-matches date="{{currDate.toDateString()}}"></app-matches>
    </div>

  <!--</div>-->
</div>

<!--footer-->
<app-unregistered-home-footer></app-unregistered-home-footer>
