<!--search body-->
<nav class="navbar navbar-default text-center">
  <form class="form-inline text-center">
    <div class="form-group">
      <select class="form-control" name="selectType"
              [(ngModel)]="selectedValue">
        <option value="LEAGUES"><strong>Leagues</strong></option>
        <option value="TEAMS"><strong>Teams</strong></option>
        <option value="PLAYERS"><strong>Players</strong></option>
      </select>
    </div>

    <div class="form-group">
      <input type="text"
             class="form-control"
             id="searchTerm"
             name="searchTerm"
             required
             placeholder="Search..."
             [(ngModel)] = "searchTerm"/>
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-block"
              (click)="searchItems()">
        Search
      </button>
    </div>
  </form>
</nav>

<table class="table table-responsive table-striped">
  <tbody>
    <tr *ngFor="let item of items"
        class="tr-match-score text-center"
        (click)="navigateToSearchedItem(item.apiId)">
      <h4><strong>{{item.name}}</strong></h4>
    </tr>
  </tbody>
</table>
