<!--search body-->
<nav class="navbar navbar-default">
  <div class="nav nav-justified navbar-nav">

    <form class="navbar-form navbar-search" role="search">

      <div class="input-group">
        <select class="form-control" name="selectType"
                [(ngModel)]="selectedValue">
          <option value="LEAGUES">Leagues</option>
          <option value="TEAMS">Teams</option>
          <option value="PLAYERS">Players</option>
        </select>
      </div>

      <div class="input-group">
        <input type="text"
               class="form-control"
               id="searchTerm"
               name="searchTerm"
               required
               placeholder="Search..."
               [(ngModel)] = "searchTerm"/>

        <div class="input-group-btn">
          <button type="button"
                  (click)="searchItems()"
                  class="btn btn-search btn-success">
            Search
          </button>
        </div>

      </div>
    </form>
  </div>
</nav>

<table class="table table-responsive table-striped">
  <tbody>
    <tr *ngFor="let item of items"
        class="tr-match-score text-center"
        (click)="navigateToSearchedItem(item.apiId)">
      <h4><strong>{{item.name}}</strong></h4>
    </tr>
  </tbody>
</table>
