<!-- Header -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="row container-fluid">

    <!-- Left pane header-->
    <div class="col-sm-4 hidden-xs">

      <div class="navbar-text pull-left my-header-left-margin">
        <a (click)="navigateToWebsiteList()">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-text pull-right my-header-right-margin">
        <a (click)="navigateToPageNew()">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>

      <div class="navbar-header">
        <a class="navbar-brand">
          Pages
        </a>
      </div>

    </div>

    <!-- Right pane header-->
    <div class="col-sm-8 col-xs-12">

      <div class="navbar-text pull-left my-header-left-margin">
        <a (click)="navigateToPageList()">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-text pull-right my-header-right-margin">
        <a (click)="updatePage()">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>

      <div class="navbar-header">
        <a class="navbar-brand">
          Edit Page
        </a>
      </div>

    </div>


  </div>
</nav>

<div class="row container-fluid">
  <!-- Left Pane - Website List -->
  <div class="col-sm-4 hidden-xs my-left-pane my-right-border">
    <ul class="list-group">

      <li class="list-group-item my-no-border"
          *ngFor="let page of pages">
        <a (click)="navigateToWidgetList(page)" class="no-underline-hover">{{page.name}}</a>
        <a (click)="navigateToPageEdit(page)" class="pull-right">
          <span class="glyphicon glyphicon-cog my-right-margin"></span>
        </a>
      </li>

    </ul>
  </div>

  <!-- Right pane - edit page -->
  <div class="col-sm-8 col-xs-12 my-right-pane">
    <form>

      <div class="form-group">
        <label for="pageName">Name</label>
        <input type="text"
               id="pageName"
               name="pageName"
               class="form-control"
               placeholder="Name"
               value="{{pageName}}"
               required
               [(ngModel)]="pageName"/>
      </div>

      <div class="form-group">
        <label for="pageTitle">Title</label>
        <input  type="text"
                id="pageTitle"
                name="pageTitle"
                class="form-control span6"
                rows="5"
                placeholder="Title"
                value="{{pageTitle}}"
                required
                [(ngModel)]="pageTitle"/>
      </div>

      <div class="form-group">
        <a (click)="deletePage()"
           class="btn btn-block btn-danger">
          Delete
        </a>
      </div>

    </form>
  </div>

</div>

<!-- Footer -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-footer navbar-text pull-right">
      <a (click) = "navigateToProfile()">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>
