<div class="text-center">
  <button class="btn btn-success btn-block"
          (click)="navigateToSearchAndAddFriends()"
          type="button">Add Friends
    <span class="glyphicon glyphicon-plus pull-right"></span>
  </button>
</div>

<div class="form-group">
  <!--Following-->
  <div class="dropdown">
    <button class="btn btn-block dropdown-toggle"
            type="button" data-toggle="dropdown">
      Following
      <span class="badge badge-pill badge-danger">{{following.length}}</span>
      <span class="caret  pull-right"></span>
    </button>
    <ul class="dropdown-menu">
      <div *ngFor="let user of following">
        <a class="btn btn-block btn-info" (click)="navigateToFriendsProfile(user._id)">
          {{user.lastName}}, {{user.firstName}} ({{user.username}})
        </a>
      </div>
    </ul>
  </div>

  <!--Followers-->
  <div class="dropdown">
    <button class="btn btn-block dropdown-toggle"
            type="button" data-toggle="dropdown">
      Followers
      <span class="badge badge-pill badge-danger">{{followers.length}}</span>
      <span class="caret  pull-right"></span>
    </button>
    <ul class="dropdown-menu">
      <div *ngFor="let user of followers">
        <a class="btn btn-block btn-info" (click)="navigateToFriendsProfile(user._id)">
          {{user.lastName}}, {{user.firstName}} ({{user.username}})
        </a>
      </div>
    </ul>
  </div>

</div>

<div *ngIf="user && user.roles == 'user'" class="text-center">
  <button class="btn btn-success btn-block"
          (click)="applyForCritic()"
          type="button">Apply for Critic!
    <span class="glyphicon glyphicon-plus pull-right"></span>
  </button>
</div>

