body{ margin-top: 60px;
  margin-bottom: 60px;
  max-width: 100%}

.my-header-left-margin{  margin-left: 3px;}
.my-header-right-margin{ margin-right: 3px;}

.my-left-margin{  margin-left: 3px;}
.my-right-margin{ margin-right: 3px;}

.navbar-default{  background-color: #428bca;}

.navbar-inverse{  background-color: #000000;
                  opacity: 0.8;}

.navbar-default .navbar-brand{  color: white !important;}
.navbar-inverse .navbar-brand{  color: white !important;}
.navbar a{  color: #acacac;}
.navbar a:hover{  color:white;}

li.my-no-border{ border-style: none;}

.glyphicon{ margin-right:5px;}

