
<!--&lt;!&ndash; Header &ndash;&gt;-->
<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
  <!--<div class="row container-fluid">-->
    <!--<div class="col-xs-12">-->

      <!--<div class="navbar-text pull-left my-header-left-margin">-->
        <!--<a href="../website/website-list.html">-->
          <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
        <!--</a>-->
      <!--</div>-->

      <!--<div class="navbar-text pull-right my-header-right-margin">-->
        <!--<a href="page-new.html">-->
          <!--<span class="glyphicon glyphicon-plus"></span>-->
        <!--</a>-->
      <!--</div>-->

      <!--<div class="navbar-header">-->
        <!--<a class="navbar-brand" href="#">-->
          <!--Pages-->
        <!--</a>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
<!--</nav>-->

<!--&lt;!&ndash; Page List &ndash;&gt;-->
<!--<div class="row container-fluid">-->
  <!--<div class="col-xs-12 my-left-pane">-->
    <!--<ul class="list-group">-->

      <!--<li class="list-group-item my-no-border">-->
        <!--<a href="../widget/widget-list.html" class="no-underline-hover">Blog Post</a>-->
        <!--<a href="page-edit.html" class="pull-right">-->
          <!--<span class="glyphicon glyphicon-cog my-right-margin"></span>-->
        <!--</a>-->
      <!--</li>-->

      <!--<li class="list-group-item my-no-border">-->
        <!--<a href="../widget/widget-list.html" class="no-underline-hover">Blogs</a>-->
        <!--<a href="page-edit.html" class="pull-right">-->
          <!--<span class="glyphicon glyphicon-cog my-right-margin"></span>-->
        <!--</a>-->
      <!--</li>-->

      <!--<li class="list-group-item my-no-border">-->
        <!--<a href="../widget/widget-list.html" class="no-underline-hover">Home</a>-->
        <!--<a href="page-edit.html" class="pull-right">-->
          <!--<span class="glyphicon glyphicon-cog my-right-margin"></span>-->
        <!--</a>-->
      <!--</li>-->

      <!--<li class="list-group-item my-no-border">-->
        <!--<a href="../widget/widget-list.html" class="no-underline-hover">About</a>-->
        <!--<a href="page-edit.html" class="pull-right">-->
          <!--<span class="glyphicon glyphicon-cog my-right-margin"></span>-->
        <!--</a>-->
      <!--</li>-->

      <!--<li class="list-group-item my-no-border">-->
        <!--<a href="../widget/widget-list.html" class="no-underline-hover">Contact Us</a>-->
        <!--<a href="page-edit.html" class="pull-right">-->
          <!--<span class="glyphicon glyphicon-cog my-right-margin"></span>-->
        <!--</a>-->
      <!--</li>-->

    <!--</ul>-->
  <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<nav class="navbar navbar-inverse navbar-fixed-bottom">-->
  <!--<div class="container-fluid">-->
    <!--<div class="navbar-footer navbar-text pull-right">-->
      <!--<a href="../user/profile.html">-->
        <!--<span class="glyphicon glyphicon-user"></span>-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->
