<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../css/style.css"/>

  <title>Page List</title>

</head>

<body>

<!-- Header -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="row container-fluid">
    <div class="col-xs-12">

      <div class="navbar-text pull-left my-header-left-margin">
        <a href="../website/website-list.html">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-text pull-right my-header-right-margin">
        <a href="page-new.html">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>

      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          Pages
        </a>
      </div>

    </div>
  </div>
</nav>

<!-- Page List -->
<div class="row container-fluid">
  <div class="col-xs-12 my-left-pane">
    <ul class="list-group">

      <li class="list-group-item my-no-border">
        <a href="../widget/widget-list.html" class="no-underline-hover">Blog Post</a>
        <a href="page-edit.html" class="pull-right">
          <span class="glyphicon glyphicon-cog my-right-margin"></span>
        </a>
      </li>

      <li class="list-group-item my-no-border">
        <a href="../widget/widget-list.html" class="no-underline-hover">Blogs</a>
        <a href="page-edit.html" class="pull-right">
          <span class="glyphicon glyphicon-cog my-right-margin"></span>
        </a>
      </li>

      <li class="list-group-item my-no-border">
        <a href="../widget/widget-list.html" class="no-underline-hover">Home</a>
        <a href="page-edit.html" class="pull-right">
          <span class="glyphicon glyphicon-cog my-right-margin"></span>
        </a>
      </li>

      <li class="list-group-item my-no-border">
        <a href="../widget/widget-list.html" class="no-underline-hover">About</a>
        <a href="page-edit.html" class="pull-right">
          <span class="glyphicon glyphicon-cog my-right-margin"></span>
        </a>
      </li>

      <li class="list-group-item my-no-border">
        <a href="../widget/widget-list.html" class="no-underline-hover">Contact Us</a>
        <a href="page-edit.html" class="pull-right">
          <span class="glyphicon glyphicon-cog my-right-margin"></span>
        </a>
      </li>

    </ul>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-footer navbar-text pull-right">
      <a href="../user/profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>

</body>
</html>
