<!-- Header -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="row container-fluid">

    <div class="col-xs-12">

      <div class="navbar-text pull-left my-header-left-margin">
        <a (click)="navigateToWidgetList()">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>

      <div class="navbar-text pull-right my-header-right-margin">
        <a (click)="updateWidget()">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>

      <div class="navbar-header">
        <a class="navbar-brand">
          Widget Edit
        </a>
      </div>

    </div>

  </div>
</nav>

<!-- Widget Edit Form -->
<div class="row container-fluid">
  <div class="col-xs-12 custom-padding-top-10">

    <form>

      <div class="form-group">
        <label for="headerText">Text</label>
        <input type="text"
               id="headerText"
               name="headerText"
               class="form-control"
               required
               value="{{headerText}}"
               [(ngModel)]="headerText"
               placeholder="Header Text"/>
      </div>

      <div class="form-group">
      <label for="headerSize">Text Size</label>
      <input type="text"
             id="headerSize"
             name="headerSize"
             class="form-control"
             required
             value="{{headerSize}}"
             [(ngModel)]="headerSize"
             placeholder="Header Size"/>
      </div>

      <div class="form-group">
        <a (click)="deleteWidget()"
           class="btn btn-block btn-danger">
          Delete
        </a>
      </div>

    </form>

  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-footer navbar-text pull-right">
      <a (click)="navigateToProfile()">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</nav>

