
<!--&lt;!&ndash; Header &ndash;&gt;-->
<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
  <!--<div class="row container-fluid">-->
    <!--<div class="col-xs-12">-->

      <!--<div class="navbar-text pull-left my-header-left-margin">-->
        <!--<a href="widget-list.html">-->
          <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
        <!--</a>-->
      <!--</div>-->

      <!--<div class="navbar-header">-->
        <!--<a class="navbar-brand" href="#">-->
          <!--Choose Widget-->
        <!--</a>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
<!--</nav>-->

<!--&lt;!&ndash; Widget List &ndash;&gt;-->
<!--<div class="row container-fluid">-->
  <!--<div class="col-xs-12 my-left-pane">-->
    <!--<ul class="list-group">-->

      <!--<li class="list-group-item my-no-border">-->
        <!--<a href="widget-heading.html" class="no-underline-hover">Header</a>-->
      <!--</li>-->

      <!--<li class="list-group-item my-no-border">-->
        <!--<a href="widget-heading.html" class="no-underline-hover">Label</a>-->
      <!--</li>-->

      <!--<li class="list-group-item my-no-border">-->
        <!--<a href="widget-heading.html" class="no-underline-hover">HTML</a>-->
      <!--</li>-->

      <!--<li class="list-group-item my-no-border">-->
        <!--<a href="widget-heading.html" class="no-underline-hover">Text Input</a>-->
      <!--</li>-->

      <!--<li class="list-group-item my-no-border">-->
        <!--<a href="widget-heading.html" class="no-underline-hover">Link</a>-->
      <!--</li>-->

      <!--<li class="list-group-item my-no-border">-->
        <!--<a href="widget-heading.html" class="no-underline-hover">Button</a>-->
      <!--</li>-->

      <!--<li class="list-group-item my-no-border">-->
        <!--<a href="widget-image.html" class="no-underline-hover">Image</a>-->
      <!--</li>-->

      <!--<li class="list-group-item my-no-border">-->
        <!--<a href="widget-youtube.html" class="no-underline-hover">Youtube</a>-->
      <!--</li>-->

      <!--<li class="list-group-item my-no-border">-->
        <!--<a href="widget-heading.html" class="no-underline-hover">Data Table</a>-->
      <!--</li>-->

      <!--<li class="list-group-item my-no-border">-->
        <!--<a href="widget-heading.html" class="no-underline-hover">Repeater</a>-->
      <!--</li>-->

    <!--</ul>-->
  <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<nav class="navbar navbar-inverse navbar-fixed-bottom">-->
  <!--<div class="container-fluid">-->
    <!--<div class="navbar-footer navbar-text pull-right">-->
      <!--<a href="../user/profile.html">-->
        <!--<span class="glyphicon glyphicon-user"></span>-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</nav>-->
