<h1>hello in register</h1>
<!--<div class="container">-->

  <!--<h1>Register</h1>-->

  <!--<input placeholder="username"-->
         <!--type="text"-->
         <!--class="form-control"/>-->

  <!--<input placeholder="password"-->
         <!--type="password"-->
         <!--class="form-control input-margin-top"/>-->

  <!--<input placeholder="verify password"-->
         <!--type="password"-->
         <!--class="form-control input-margin-top"/>-->

  <!--<a class="btn btn-primary btn-block input-margin-top"-->
     <!--href="profile.html">Register</a>-->

  <!--<a class="btn btn-danger btn-block"-->
     <!--href="login.html" >Cancel</a>-->

<!--</div>-->
