<div class="container">

  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>

  <h1>Register</h1>

  <form (ngSubmit) = "register()" #f="ngForm">

    <input placeholder="username"
           name="username"
           type="text"
           class="form-control"
           required
           [(ngModel)]="username"/>

    <input placeholder="password"
           name="password"
           type="password"
           class="form-control input-margin-top"
           required
           [(ngModel)]="password"/>

    <input placeholder="verify password"
           name="verifyPassword"
           type="password"
           class="form-control input-margin-top"
           required
           [(ngModel)]="verifyPassword"/>

    <a class="btn btn-primary btn-block input-margin-top"
       (click)="register()">Register</a>

    <a class="btn btn-danger btn-block"
       routerLink="/login" >Cancel</a>

  </form>

</div>
