<!-- Header -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <!--profile drop-down button-->
    <div class="col-xs-2 hidden-sm hidden-md hidden-lg">
      <button type="button" class="navbar-toggle pull-left"
              data-toggle="collapse" data-target="#profile-sidebar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!--header type-->
    <div *ngIf="!isLoggedIn">
      <app-unregistered-home-header></app-unregistered-home-header>
    </div>
    <div *ngIf="isLoggedIn">
      <app-home-header></app-home-header>
    </div>

  </div>
</nav>

<!--main body-->
<div class="container-fluid">

  <!-- Left Pane - User details -->
  <div class="col-xs-12 col-sm-4">
    <div class="collapse navbar-collapse" id="profile-sidebar">

      <div *ngIf="!isLoggedIn">
        <app-unregistered-home-user-profile></app-unregistered-home-user-profile>
      </div>
      <div *ngIf="isLoggedIn">
        <app-home-user-profile></app-home-user-profile>
      </div>

    </div>
  </div>

  <!-- Right Pane - Match Calender -->
  <div class="col-sm-8 col-xs-12 my-right-pane">
    <div class="text-center">
      <dp-day-calendar [(ngModel)]="selectedDate"></dp-day-calendar>
    </div>
    <hr style="border: 4px solid black !important;"/>

    <app-match-list searchType="BY_DAY" currDate="{{selectedDate}}"></app-match-list>
  </div>

</div>

<!--app footer-->
<div *ngIf="!isLoggedIn">
  <app-unregistered-home-footer></app-unregistered-home-footer>
</div>
<div *ngIf="isLoggedIn">
  <app-home-footer></app-home-footer>
</div>
