<!--app header-->
<app-home-header></app-home-header>

<!--main body-->
<div class="row container-fluid">

  <!-- Left Pane - User details -->
  <div class="col-sm-4 hidden-xs my-left-pane my-right-border">
    <app-home-user-profile></app-home-user-profile>
  </div>

  <!-- Right Pane - Match Calender -->
  <div class="col-sm-8 col-xs-12 my-right-pane">
    <div class="text-center">
      <dp-day-calendar [(ngModel)]="selectedDate"></dp-day-calendar>
    </div>

    <app-match-list date="{{selectedDate}}"></app-match-list>
  </div>

</div>

<!--app footer-->
<app-home-footer></app-home-footer>
