<div *ngIf="isCritic">
  <div class="text-center">
    <button class="btn btn-danger btn-block"
            (click)="navigateToNewReview()"
            type="button">Post New Reviews!
      <span class="glyphicon glyphicon-plus pull-right"></span>
    </button>
  </div>
</div>

<div *ngIf="reviews.length == 0"
     class="alert alert-danger text-center">
  No Review as of now!!
</div>

<!-- Reviews List -->
<div *ngIf="reviews.length > 0">
  <ul class="list-group">

    <li class="list-group-item my-no-border"
        *ngFor="let review of reviews">
      <a (click)="navigateToReview(review)"
         class="no-underline-hover">
        {{review.title}}</a>
      <a *ngIf="isCritic && review.criticId == criticId"
         (click)="navigateToReviewEdit(review)"
         class="pull-right">
        <span class="glyphicon glyphicon-cog my-right-margin"></span>
      </a>
    </li>

  </ul>
</div>
